body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;
}
input {
  width: 90%;
  border: 1px solid;
  height: 30px;
  font-size: 15px;
	outline: none;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.ChatBoard-container {
  background-color: #fff;
  border-radius: 3px;
  min-width: calc(100% - 10px);
  height: 80vh;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ChatBoard-message-parent-container {
  padding: 5px;
  padding-bottom: 10px;
  height: calc(90% - 20px);
  width: calc(100% - 10px);
  border-radius: 3px;
}

.ChatBoard-message-child-container {
  padding: 15px;
  padding-bottom: 0px;
  height: calc(99% - 2px);
  width: calc(100% - 30px);
  background-color: #fff;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ChatBoard-message-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 9%;
  margin-top: 5px;
  width: 100%;
}

.App-container {
  height: 780px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  min-width: 1000px;
}
