:root {
  --gray-border: 1px solid rgba(226, 219, 219, 0.8);
}

.admin-wrapper {
  background: #f9f9f9;
  position: fixed;
  border: var(--gray-border);
  width: 305px;
  border-radius: 5px;
  margin: -1% 0 0 0.6%;
  z-index: 3;

  .options-list {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    border-bottom: var(--gray-border);
    font-weight: 200;
  }

  li {
    padding: 8px;
    list-style-type: none;
    margin-left: -41px;
  }

  li:hover {
    background: #2d9ee0;
    color: white;
    cursor: pointer;
  }

  .info-wrapper {
    display: flex;
    width: 100%;
    height: 15%;
    padding: 15px 0 0 15px;
  }

  .name {
    margin: 36px 0 0 10px;
    color: #a1a1a3;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .open-slack {
    padding: 0 0 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #f9f9f9;
    font-weight: 500;
    cursor: pointer;

    img {
      margin-top: 15px;
    }

    :hover {
      background-color: #2d9ee0;
    }
  }
}
