@import './../variables/_variables';
.mainChat {
    display: flex;
}
.channels-container {
    background: $channelsBack;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width:277px;
    .adminPanel {
        min-height: 74px;
        background: pink;
        .adminShow {
            visibility: visible;
        }
        .adminHide {
            visibility: hidden;
        }
    }
    .channelsSection {
        max-height: 100vh;
        overflow-y: scroll;
    }
}