#root {
    height: 100%;
}

.mainLogin {
    display: flex;
    flex-direction: column;
    background: pink;
    min-height: 100vh;
    .imageBanner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        .banner {
            color: white;
            span {
                font-size: 1.2em;
            }        
            .imagePlaceholder {
            img {
                object-fit: contain;
                padding: 0;
            }
        }
        }

        button {
            padding: 10px;
            width: 100px;
            margin: auto;
        }
    }
}