#root {
  height: 100%; }

.mainLogin {
  display: flex;
  flex-direction: column;
  background: blue;
  min-height: 100vh; }
  .mainLogin .imageBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; }
    .mainLogin .imageBanner .banner {
      color: white; }
      .mainLogin .imageBanner .banner span {
        font-size: 1.2em; }
      .mainLogin .imageBanner .banner .imagePlaceholder img {
        object-fit: contain;
        padding: 0; }
    .mainLogin .imageBanner button {
      padding: 10px;
      width: 100px;
      margin: auto; }

.mainChat {
  display: flex; }

.channels-container {
  background: #2a3644;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 277px;
  overflow-x: scroll; }
  .channels-container .adminPanel {
    min-height: 74px;
    background: #2a3644;
    color: #9ba0a5; }
    .channels-container .adminPanel h4 {
      font-size: 21px;
      margin: 0;
      color: white; }
    .channels-container .adminPanel .center {
      padding: 13px 0 15px 16px;
      min-height: 74px; }
    .channels-container .adminPanel .adminShow {
      display: inherit; }
    .channels-container .adminPanel .adminHide {
      display: none; }
  .channels-container .channelsSection {
    line-height: 20px;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #9ba0a5;
    font-size: 19px;
    padding-left: 11px; }
    .channels-container .channelsSection div input {
      background: #0e1b29;
      padding-left: 38px;
      color: #9ba0a5;
      border: none;
      height: 40px;
      width: 242px;
      margin: 10px 0 10px 8px; }
    .channels-container .channelsSection .allUnreadsThreads .seg {
      padding: 6px 0; }
    .channels-container .channelsSection .starred,
    .channels-container .channelsSection .channels,
    .channels-container .channelsSection .directMessages {
      min-height: 200px;
      margin-top: 20px; }
    .channels-container .channelsSection .scale {
      letter-spacing: 1.5px; }
    .channels-container .channelsSection .cursor {
      cursor: pointer; }
    .channels-container .channelsSection .selectBack:hover {
      color: white; }

:root {
  --gray-border: 1px solid rgba(226, 219, 219, 0.8); }

.admin-wrapper {
  background: #f9f9f9;
  position: fixed;
  border: var(--gray-border);
  width: 305px;
  border-radius: 5px;
  margin: -1% 0 0 0.6%;
  z-index: 3;
  color: black;
  font-size: 1.1em; }
  .admin-wrapper .options-list {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    border-bottom: var(--gray-border);
    font-weight: 200; }
  .admin-wrapper li {
    padding: 8px;
    list-style-type: none;
    margin-left: -41px; }
  .admin-wrapper li:hover {
    background: #2d9ee0;
    color: white;
    cursor: pointer; }
  .admin-wrapper .info-wrapper {
    display: flex;
    width: 100%;
    height: 15%;
    padding: 15px 0 0 15px; }
  .admin-wrapper .name {
    margin: 30px 0 0 10px;
    color: #a1a1a3; }
  .admin-wrapper .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 5px; }
  .admin-wrapper .open-slack {
    padding: 0 0 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #f9f9f9;
    font-weight: 500;
    cursor: pointer; }
    .admin-wrapper .open-slack img {
      margin-top: 15px; }
    .admin-wrapper .open-slack :hover {
      background-color: #2d9ee0; }

.status-box-wrapper {
  position: fixed;
  display: flex;
  background-color: #f9f9f9;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 21%;
  height: 100px;
  width: 300px;
  padding: 20px;
  border: var(--gray-border);
  border-radius: 5px; }
  .status-box-wrapper button {
    border-radius: 5px; }
  .status-box-wrapper .emoji-button {
    font-size: 1.2em;
    background-color: white;
    border: var(--gray-border);
    border: 1px solid gray;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 2px 6px 2px 6px; }
  .status-box-wrapper .status-input {
    font-size: 1.1em;
    border: 1px solid gray;
    padding: 4px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .status-box-wrapper .status-pick {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin-top: -20px;
    border-bottom: var(--gray-border); }
  .status-box-wrapper .handle-status-btns {
    display: none;
    flex-direction: row;
    margin-top: 8px;
    align-self: flex-end; }
  .status-box-wrapper .cancel-btn {
    background: white;
    border: var(--gray-border);
    color: black;
    font-size: 1.2em;
    margin: 0 5px 0 0;
    padding: 5px; }
  .status-box-wrapper .save-btn {
    background: #008952;
    color: white;
    border: none;
    font-size: 1.1em;
    padding: 5px; }
  .status-box-wrapper .cancel-status {
    background: black;
    border: none;
    border-radius: 20px;
    color: white;
    width: 20px;
    height: 20px; }
  .status-box-wrapper .close-icon {
    align-self: flex-end;
    margin: -25px 10px 0 0;
    width: 20px;
    height: 20px;
    padding: 0;
    display: none; }
    .status-box-wrapper .close-icon .close-icon:hover {
      cursor: pointer;
      text-shadow: 1px 1px black; }
  .status-box-wrapper .show-btns {
    display: flex; }
  .status-box-wrapper .select-status {
    display: flex;
    flex-direction: row; }
