#root {
  height: 100%; }

.mainLogin {
  display: flex;
  flex-direction: column;
  background: blue;
  min-height: 100vh; }
  .mainLogin .imageBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; }
    .mainLogin .imageBanner .banner {
      color: white; }
      .mainLogin .imageBanner .banner span {
        font-size: 1.2em; }
      .mainLogin .imageBanner .banner .imagePlaceholder img {
        object-fit: contain;
        padding: 0; }
    .mainLogin .imageBanner button {
      padding: 10px;
      width: 100px;
      margin: auto; }

.mainChat {
  display: flex; }

.channels-container {
  background: #313E4C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 277px; }
  .channels-container .adminPanel {
    min-height: 74px;
    background: #2A3644;
    color: white; }
    .channels-container .adminPanel h4 {
      font-size: 21px; }
    .channels-container .adminPanel .center {
      margin: auto;
      min-height: 74px; }
    .channels-container .adminPanel .adminShow {
      visibility: visible; }
    .channels-container .adminPanel .adminHide {
      visibility: hidden; }
  .channels-container .channelsSection {
    max-height: 100vh;
    overflow-y: scroll; }
    .channels-container .channelsSection div input {
      background: #0E1B29;
      padding-left: 32px;
      color: white;
      border: none;
      margin: 10px 0 10px 19px; }
